@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --var-primarycolor: #494949;
    --var-secondarycolor: #313131;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

header {
    display: flex;
    background-color: var(--var-primarycolor);
    align-items: center;
    height: 10vh;
}

#logo {
    display: flex;
    align-items: center;
    width: 10.5vw;
    position: relative;
    right: 20%;
}
#logo:hover{
    transition: all 0.5s;
    transform: scale(1.2);
}

main {
    display: flex;
}

aside {
    display: flex;
    background-color: var(--var-primarycolor);
    float: left;
    position: relative;
    width: 13%;
    justify-content: center;
}
h1{
    position: relative;
    right: 4.5%;
    color: white;
    text-decoration: underline;
}

aside ul li {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 2.7vw;
}

a{

    text-decoration: none;
    color: black;

}

#home-button img {
    width: 35px;
    margin-right: 5px;
}


#sports-button img {
    width: 35px;
    margin-right: 5px;
}

#mmo-button img {
    width: 35px;
    margin-right: 5px;
}

#moba-button img {
    width: 35px;
    margin-right: 5px;
}

#flex{

    display: flex;

}
#card-button img {
    width: 35px;
    margin-right: 5px;
}

#fighting-button img {
    width: 35px;
    margin-right: 5px;
}

#shooting-button img {
    width: 35px;
    margin-right: 5px;
}

#racing-button img {
    width: 35px;
    margin-right: 5px;
}

main section {
    background-color: #313131;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}



.tes:first-child {
    width: 50%;
    color: white;
    background-color:rebeccapurple ;
    position: relative;
    top: 5vh;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    align-items: center;
 
}

.tes img:first-child {
    width: 100%;
    display: flex;
    align-items: center;


}

.tes:nth-child(2), .tes:nth-child(3) {
    background-color: #494949;
    padding: 1.5vw;
    border-radius: 8px;
    position: relative;
    top: 5vh;
}

.tes {
    position: relative;
    top: 5vh;
    background-color: yellow;
    padding: 1.5vw;
    border-radius: 8px;
}

h2{
    display: flex;
    justify-content: center;
    color:white;
    font-size: 3vw;
    background-color: #313131;

}
footer {
    display: flex;
    justify-content: center;
    background-color: var(--var-secondarycolor);
}

#mais{
    background-color: #494949;
    border-radius: 8px;
    padding-bottom: 2%;
    color: white;
}
li:hover{
    color: #9305F2;
}
li{
    margin-bottom: 20px;
}
p:hover{
    color: #9305F2;
}
p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12%;
    font-size: 1.6vw;
}

#estrela{
    width: 3vw;
}